// Navbar
.mat-toolbar.mat-primary {
    background-color: rgb(44, 96, 138);
    position: sticky;
    top: 0;
  }
.appName{
    font-size: 150%;
}
div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 100%;
    white-space: normal;
}
button{
    min-width: min-content;
    padding: 6px;
    margin-left: 3%;
    margin-right: 5%;
    background-color: white;
    color: rgb(44, 96, 138);
    cursor: pointer; 
    font-size: 120%; 
    font-weight: 600; 
    border-radius: 4px; 
    text-transform: uppercase;
}
.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 0 0 auto;
  }
  .mat-sidenav-content{
      font-size: 110%;
      text-align: center;
  }
  .valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
  }
  .nav-caption {
    display: inline-block;
    padding-left: 5px;
  }
  .mat-button {
      margin: 0 2%;
  }
